<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trash Go page structure</title>

<style>
table, th, td{
  border-bottom: 1px solid #e7e7e7;
  border-collapse: collapse;
  padding: 15px;
  border-spacing: 5px;
}

.text_center {
  text-align: center;
}

td:hover {
  background-color: #f1f1f1;
}

a:hover {
  color: red;
}

th {
  border-top: 2px solid grey;
}

</style>

</head>

<p><b class="bottom_line">TrashGo 페이지 만들기</b></p>
<p>

	<table>
		<tr>
			<th style="width: 150px">1Dept</th>
			<th style="width: 150px">2Dept</th>
			<th style="width: 150px">3Dept</th>
			<th style="width: 150px">사용자</th>
			<th style="width: 250px">비고</th>
		</tr>
		<tr>
			<td class="text_center"><a href="myTemplate.html">Home</a></td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td class="text_center">로그인</td>
			<td>회원가입</td>
			<td>인증</td>
			<td>비회원</td>
			<td>이메일 인증</td>
		</tr>
		<tr>
			<td> </td>
			<td>ID / PW찾기</td>
			<td>ID 찾기</td>
			<td>회원</td>
			<td>-</td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td>비밀번호 찾기</td>
			<td> </td>
			<td>-</td>
		</tr>

		<tr>
			<td class="text_center">게시물 검색</td>
			<td>-</td>
			<td>-</td>
			<td>전체</td>
			<td>-</td>
		</tr>
		<tr>
			<td class="text_center">게시물 등록</td>
			<td>사진 업로드</td>
			<td>위치 업로드</td>
			<td>회원</td>
			<td>-</td>
		</tr>
		<tr>
			<td class="text_center">Trash Map</td>
			<td>-</td>
			<td>-</td>
			<td>회원</td>
			<td>-</td>
		</tr>
		<tr>
			<td class="text_center">Trash 현황</td>
			<td>카테고리별 조회</td>
			<td>-</td>
			<td>전체</td>
			<td>-</td>
		</tr>
		<tr>
			<td class="text_center">My Trash</td>
			<td>My Trash Map</td>
			<td>-</td>
			<td>회원</td>
			<td>-</td>
		</tr>
		<tr>
			<td class="text_center">친환경 게시판</td>
			<td>친환경 쇼핑</td>
			<td>카테고리별 쇼핑몰</td>
			<td>전체</td>
			<td>관리자</td>
		</tr>
		<tr>
			<td> </td>
			<td>우리들이 알아야할 정보</td>
			<td>-</td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td>다같이 참여 게시판</td>
			<td>봉사 게시판</td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td>이벤트 게시판</td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td class="text_center">알림</td>
			<td>-</td>
			<td>-</td>
			<td>회원</td>
			<td>-</td>
		</tr>
		
	</table>
	

</body>
</html>